/* Author: Jovanie Lawrence
      Date: 08/02/18    
      Description: Style sheet for the peach cms admin   */ 

/* The background color for the login page */
body {
    background: #ffffff;
    color: black;

}

#wrapper{
    
    margin-left: 150px;
}

#logo{
  margin-top: -40px;
  margin-left: 500px;
}

/* Position logo on the top left of the nav bar */
.navbar-brand{
	margin-top: -15px;
	color:#ffffff;
}
#panel{
    background-color: #ffffff;
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 350px;
    margin-top:-20px;
    

}

hr{
    margin-top:1px;
}

#searchbox {
    margin-top:-50px;
    margin-left:320px;
    width: 500px;
    height: 45px;
    font-size: 13px;
    font-family: sans-serif;
    background-color:rgb(76, 61, 211);
}

#login{
    margin-top:-80px;
    color:#ffffff;
}

#searchbox:focus {
    background-color: #fff;
}

#searchbutton{
  margin-top:-89px;
  margin-left:820px;
  height: 45px;
  width:50px;
  background-color: #ffffff;

  
}

 
/* Modal header styling for background and text */
.modal-header {
    background-color: #F3F2EE;
    color: #000000;
    font-family: sans-serif;
}